  <div class="card-deck">
    <div *ngFor="let artist of artists" class="col-3 m-0">
      <div class="card m-2">
        <img class="card-img-top img-fluid artistImage" src="{{artist.largeImage}}" alt="Card image cap">
        <div class="card-body" style="height: auto">
          <div class="row">
            <div class="col-9">
            <h5 class="card-title">{{artist.name}}</h5>
            </div>
            <div class="col-2">
              <a href="{{artist.fmUrl}}"><i class="fa fa-lastfm-square fa-2x lastfm-logo" aria-hidden="true"></i></a>
            </div>
          </div>
          <i class="fa fa-users" aria-hidden="true"> Followers: {{artist.listeners}}</i>
          <i class="fa fa-headphones" aria-hidden="true"> PlayCount: {{artist.playCount}}</i>
          <button class="btn btn-sm btn-block btn-success mt-2" (click)="getArtist(artist.id, artist.mbid)"><i class="fa fa-grav fa-2x"> Explore</i></button>
        </div>
      </div>
    </div>
  </div>
