
<div class=" row pt-3 pr-2 pl-2 pb-2">
  <div class="col-md-6 offset-md-1 col-sm-3">
    <input [(ngModel)]="query" class="form-control" placeholder="Search">
  </div>
  <div class="col-md-2 mt-sm-1">
    <select class="browser-default custom-select" [(ngModel)]="type" [value]="type">
      <option value="artists">Artists</option>
      <option value="tracks">Tracks</option>
    </select>
  </div>
  <div class="col-md-2 mt-sm-1">
    <button class="btn btn-success btn-block" (click)='search()'>
      <i class="fa fa-search"></i>
    </button>
  </div>
</div>
