<body class="bg">
<div class="container-fluid">
  <div class="row title-bar p-2">
    <div class="row col-6">
      <i class="fa fa-grav fa-3x fa-spin mr-2 ml-2"></i>
      <h2 class="title-text mt-1 mb-1 ml-3 mr-3">Record Space</h2>
    </div>
  </div>
  <div class="row">
    <!-- Profile Image and Name -->
    <div class="col-2 m-3 title-bar">
      <img class="center mt-3 mb-3" src="https://picsum.photos/200/200"/>
      <hr width="50%">
      <h4 class="title-text" align="center"><i class="fa fa-user mr-3" aria-hidden="true">  DevGan95</i></h4>
      <hr width="50%">
      <h5 align="center"><i class="fa fa-envelope" aria-hidden="true">  dev95@gmail.com</i></h5>
      <hr width="50%">
      <ul align="center" class="title-text">
        <li align="center"><a href="#news"><h5>Home</h5></a></li>
        <li align="center"><a href="#news"><h5>Dashboard</h5></a></li>
        <li align="center"><a href="#news"><h5>Profile</h5></a></li>
        <li align="center"><a href="#contact"><h5>Calender</h5></a></li>
        <li align="center"><a href="#about"><h5>Contact Us</h5></a></li>
        <li align="center"><a href="#about"><h5>About</h5></a></li>
      </ul>
      <hr width="50%">
    </div>
    <!-- Rest of the Profile -->
    <div class="col-7 m-3 title-bar">
      <h3 class = "m-2 title-text">Devanshi Ganatra</h3>
      <h4 class="m-2 title-text"><i class="fa fa-address-card" aria-hidden="true"> 1175 Boylston</i></h4>
      <h4 class="m-2 title-text"><i class="fa fa-map-marker" aria-hidden="true"> Boston, MA</i></h4>
      <hr width="0%">
      <hr width="50%">
      <hr width="0%">

      <div class="row mt-3 mb-2">
        <div class="col-3">
      <h5 class="title-text m-2"><i class="fa fa-user mr-3" aria-hidden="true"></i>Username :</h5>
        </div>
        <div class="col-8">
      <input class="form-control m-1" value="DevGan95">
        </div>
      </div>
      <div class="row mt-3 mb-2">
        <div class="col-3">
          <h5 class="title-text m-2"><i class="fa fa-user-o mr-3" aria-hidden="true"></i>First Name :</h5>
        </div>
        <div class="col-8">
          <input class="form-control m-1" value="Devanshi">
        </div>
      </div>
      <div class="row mt-3 mb-2">
        <div class="col-3">
          <h5 class="title-text m-2"><i class="fa fa-user-o mr-3" aria-hidden="true"></i>Last Name :</h5>
        </div>
        <div class="col-8">
          <input class="form-control m-1" value="Ganatra">
        </div>
      </div>
      <div class="row mt-3 mb-2">
        <div class="col-3">
          <h5 class="title-text m-2"><i class="fa fa-address-card mr-3" aria-hidden="true"></i>Address :</h5>
        </div>
        <div class="col-8">
          <input class="form-control m-1" value="1175 Boylston">
        </div>
      </div>
      <div class="row mt-3 mb-2">
        <div class="col-3">
          <h5 class="title-text m-2"><i class="fa fa-map-marker mr-3" aria-hidden="true"></i>City :</h5>
        </div>
        <div class="col-8 mt-2 mb-2">
          <input class="form-control m-1" value="Boston">
        </div>
      </div>
      <div class="row mt-3 mb-2">
        <div class="col-3">
          <h5 class="title-text m-2"><i class="fa fa-globe mr-3" aria-hidden="true"></i>Country :</h5>
        </div>
        <div class="col-8">
          <input class="form-control m-1" value="USA">
        </div>
      </div>
      <div class="row mt-3 mb-2">
        <div class="col-3">
          <h5 class="title-text m-2"><i class="fa fa-child mr-3" aria-hidden="true"></i>Biography :</h5>
        </div>
        <div class="col-8">
          <textarea class="form-control m-1" rows="5" value="Mai Vadodara se hu!!">Mai Vadodara se hu!!</textarea>
        </div>
      </div>
      <div class="offset-8 col-3 mt-3 mb-3">
        <button class="btn btn-success btn-block"><h5 class="title-text">Save Changes</h5></button>
      </div>

    </div>
    <div class="col-2 m-3 title-bar">
      <h3 class="title-text m-2" align="center"><i class="fa fa-calendar mr-3" aria-hidden="true"></i>My Events</h3>
      <hr width="50%"/>
    </div>
  </div>

</div>
</body>
