<body class="bg">
<div class="container-fluid">
  <app-header></app-header>
  <app-search-bar></app-search-bar>

  <div class="offset-1 col-10 mt- mb-3 title-bar" [ngSwitch]="searchType">
    <div *ngSwitchCase="'tracks'">
      <h2 class="mt-3 mb-3 pt-3 p-2"><i class="fa fa-music" aria-hidden="true"></i>Search Results for {{query}}</h2>
      <div class="card-deck m-2 p-2">
        <div *ngFor="let track of searchResults" class="col-6 m-0">
          <div class="card m-2" (click)="getTrack(track.name, track.artist)">
            <div class="row">
              <div class="col-4">
                  <img class="card-img-top img-fluid artistImage" src="{{track.image[2]['#text']}}" alt="No image available">
              </div>
              <div class="col-6 m-2">
                <h4>{{track.name}}</h4>
                <h5>{{track.artist}}</h5>
              </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngSwitchCase="'artists'">
      <h2 class="mt-3 mb-3 pt-3 p-2"><i class="fa fa-user" aria-hidden="true"></i> Search Results for {{query}}</h2>
      <div class="card-deck m-2 scrollable">
        <div *ngFor="let artist of searchResults" class="col-6 m-0">
          <div class="card m-2 p-2" (click)="getArtist(artist.id, artist.mbid)">
            <div class="row">
              <div class="col-4">
                <img class="card-img-top img-fluid artistImage" src="{{artist.largeImage}}" alt="No image available">
              </div>
              <div class="col-6 m-2">
                <h4>{{artist.name}}</h4>
                <h4><i class="fa fa-users" aria-hidden="true"> Followers: {{artist.listeners}}</i></h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
</body>
