<body class="bg">
<div class="container-fluid">
  <div class="row title-bar p-2">
    <div class="row col-6">
      <i class="fa fa-grav fa-3x fa-spin mr-2 ml-2"></i>
      <h2 class="title-text mt-1 mb-1 ml-3 mr-3">Record Space</h2>
    </div>
    <div class=" offset-1 col-5 row">
      <button class="btn m-1 "><i class="fa fa-home" aria-hidden="true"></i>  Home</button>
      <div class="vl"></div>
        <button class="btn  m-1 "><i class="fa fa-dashboard" aria-hidden="true"></i>  Dashboard</button>
      <div class="vl"></div>
        <button class="btn m-1 "><i class="fa fa-user" aria-hidden="true"></i>  Profile</button>
      <div class="vl"></div>
        <button class="btn m-1 "><i class="fa fa-space-shuttle" aria-hidden="true"></i>  Explore</button>
      <div class="vl"></div>
        <button class="btn m-1"><i class="fa fa-sign-out fa-lg"></i> </button>

    </div>
  </div>

  <div class="offset-1 col-10 mt-3 mb-3 title-bar">

    <div class="row col-10 offset-1 pt-2 pr-2 pl-2 pb-2">
      <div class="col-8" >
        <input [(ngModel)]="query.search" class="form-control" placeholder="Search">
      </div>
      <div class="col-2">
        <select class="browser-default custom-select" [(ngModel)]="query.type">
          <option value="artists">Artists</option>
          <option value="tracks">Tracks</option>
          <option value="concert">Concerts</option>
        </select>
      </div>
      <div class="col-2">
        <button class="btn btn-success btn-block" (click)='search()'><i class="fa fa-search"></i> Search</button>
      </div>
    </div>
  </div>

  <div class="offset-1 col-10 mt-3 mb-3 title-bar">

    <h2 class="mt-2 mb-3"><i class="fa fa-music" aria-hidden="true"></i> Top Tracks</h2>
    <div class="scrollable">
      <app-songs></app-songs>
    </div>
    <hr width="70%">
    <h2 class="mt-2 mb-3"><i class="fa fa-user" aria-hidden="true"></i> Top Artists</h2>
    <div class="scrollable">
      <app-charts></app-charts>
    </div>
    <hr width="70%">
  </div>

</div>
</body>
